.App {
    text-align: center;
}

ul {
    list-style: none;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.delete {
    color: red;
    cursor: pointer;
}

/* for input with value span use this styles for next from him soan*/
input:checked + span {
    text-decoration: line-through;
}